In [1]:
import pandas as pd

In [2]:
city_weather_df=pd.read_csv("assets/final_cities_weather.csv")
city_weather_df

,name,lat,lon,temp,humidity,temp_max,clouds,wind,country,city_id,date
0,rikitea,-23.1203,-134.9692,77.83,68,77.83,87,7.58,PF,4030556,1643719764
1,arraial do cabo,-22.9661,-42.0278,82.26,78,82.36,75,3.44,BR,3471451,1643719765
2,busselton,-33.6500,115.3333,68.04,42,68.04,0,18.45,AU,2075265,1643719766
3,yellowknife,62.4560,-114.3525,-23.15,76,-22.45,20,9.22,CA,6185377,1643719727
4,hasaki,35.7333,140.8333,32.40,48,32.40,1,15.39,JP,2112802,1643719767
...,...,...,...,...,...,...,...,...,...,...,...
555,puerto escondido,15.8500,-97.0667,70.63,88,70.63,0,4.61,MX,3520994,1643720071
556,salta,-24.7859,-65.4117,68.20,75,70.57,40,3.44,AR,3838233,1643719832
557,egvekinot,66.3167,-179.1667,-0.81,67,-0.81,100,14.72,RU,4031742,1643720072
558,nanakuli,21.3906,-158.1547,68.04,88,73.35,0,3.44,US,5851349,1643720072
559,rockhampton,-23.3833,150.5000,80.49,78,80.49,100,9.22,AU,2151437,1643719924

In [3]:
city_weather_df.to_html("assets/raw_table.html", index=False)